#!/bin/bash
LABEL="{{ nexus_usb_disk_label }}"
DEV_PATH="/dev/disk/by-label/{{ nexus_usb_disk_label_dev }}"
# Main mount for NFS and system access
MAIN_MOUNT="{{ nexus_usb_main_mount }}"
# GUI bind mount
GUI_MOUNT="{{ nexus_usb_gui_mount }}"

case "$1" in
  add)
    [ -e "$DEV_PATH" ] || exit 1
    mkdir -p "$MAIN_MOUNT" "$GUI_MOUNT"
    # Mount SSD if not already mounted
    if ! mountpoint -q "$MAIN_MOUNT"; then
        mount -t {{ nexus_usb_fs_type }} -o uid={{ nexus_usb_uid }},gid={{ nexus_usb_gid }},fmask={{ nexus_usb_fmask }},dmask={{ nexus_usb_dmask }} "$DEV_PATH" "$MAIN_MOUNT"
    fi
    # Bind mount to GUI folder if not already mounted
    if ! mountpoint -q "$GUI_MOUNT"; then
        mount --bind "$MAIN_MOUNT" "$GUI_MOUNT"
    fi
    ;;
  remove)
    umount -l "$GUI_MOUNT" 2>/dev/null
    umount -l "$MAIN_MOUNT" 2>/dev/null
    ;;
esac
